@import '/src/assets/styles/global';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/typography';

.pagination{

    margin: 2rem 0;

    // .pagination-break-class{
    //     background-color: $lightGreyColor;
    //     border-radius: 100%;
    // }

    .pagination-container{
        @include flex-justify( center );
        padding: 0;
        list-style-type: none;
    }

    .pagination-pages{
        display: inline;
        padding: 0 .5em;
    }

    .paginatione-previous-button{
        display: inline;
    }

    .pagination-next-button{
        display: inline;
    }

    .pagination-left-arrow{
        width: 1.5rem;
        margin-right: 1rem;
    }

    .pagination-right-arrow{
        width: 1.5rem;
        margin-left: 1rem;
    }

    .pagination-activated{
        background-color: $lightGreyColor;
        border-radius: 100%;
    }

}