@import '/src/assets/styles/global';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/typography';

.pokemonpage{

    .pokemonpage-header{

        @include flex-wrap(wrap);

        .pokemonpage-text-container{

            width: 50%;
            text-align: left;
            padding: 2rem;

            .pokemonpage-text-id{
                margin: 1rem;
            }
            .pokemonpage-text-name{
                text-transform: capitalize;
                margin: 1rem;
            }
            .pokemonpage-text-type{
                margin: 1rem;
                padding: .5rem;
                width: 50%;
                border-radius: 10px;
                text-align: center;
                text-transform: capitalize;
                color: $whiteColor;
            }

            .normal{
                background: #AAB09F;
            }
            
            .fighting{
                background: #CB5F48;
            }
            
            .flying{
                background: #7DA6DE;
            }
            
            .poison{
                background: #B468B7;
            }
            
            .ground{
                background: #CC9F4F;
            }
            
            .rock{
                background: #B2A061;
            }
            
            .bug{
                background: #94BC4A;
            }
            
            .ghost{
                background: #846AB6;
            }
            
            .steel{
                background: #89A1B0;
            }
            
            .fire{
                background: #EA7A3C;
            }
            
            .water{
                background: #539AE2;
            }
            
            .grass{
                background: #71C558;
            }
            
            .electric{
                background: #E5C531;
            }
            
            .psychic{
                background: #E5709B;
            }
            
            .ice{
                background: #70CBD4;
            }
            
            .dragon{
                background: #6A7BAF;
            }
            
            .dark{
                background: #736C75;
            }
            
            .fairy{
                background: #E397D1;
            }
            
            .unknown{
                background: black;
            }
            
            .shadow{
                background: grey;
            }

        }

        .pokemonpage-header-image-container{

            width: 50%;
            @include flex-justify(center);
            padding: 1rem;

            .pokemonpage-header-image{
                width: 80%;
            }

        }

    }

    .pokemonpage-btn-container{
        display: flex;
        width: 100%;

        .pokemonpage-btn{
            width: 30%;
            padding: 5%;
            /* background: rgba(192, 192, 192, 0.61); */
            /* border-radius: 5px; */
            text-align: center;
        }
        .pokemonpage-active{
            opacity: 100%;
        }
        .pokemonpage-not-active{
            opacity: 30%;
        }
    }

    .pokemonpage-question-container{
        margin: 2rem 0;
        .pokemonpage-question{
            width: 100%;
            text-align: center;
        }
        .pokemonpage-btn-container{
            width: 100%;
            @include flex-justify(center);

            .pokemonpage-yes{
                width: 25%;
                padding: 1rem;
                margin: 1rem;
                border-radius: 10px;
            }
            .pokemonpage-yes-activated{
                width: 25%;
                padding: 1rem;
                margin: 1rem;
                border-radius: 10px;
                color: white;
                background-color: $greyColor;
            }
            .pokemonpage-no{
                width: 25%;
                padding: 1rem;
                margin: 1rem;
                border-radius: 10px;
            }
            
        }
    }

}