@import '/src/assets/styles/global';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/typography';

.card{

    margin-top:3rem;

    .card-pokemon{

        @include flex-justify(center);
        flex-wrap: wrap;

        .card-pokemon-container{
            margin: 2rem 0;
            width: 70%;
            border-radius: 10px;
            text-align: center;
            padding: 2rem;
            @include flex-wrap( wrap );
            box-shadow: 5px 5px 15px 5px $lightGreyColor;
            

            .card-pokemon-text{

                text-align: left;
                width: 50%;

                & h2{
                    margin: 1rem;
                    text-transform: capitalize;
                    color: $greyColor;
                }

                & p{
                    margin: 1rem;
                    padding: .5rem;
                    background-color: $greyColor;
                    width: 50%;
                    border-radius: 10px;
                    text-align: center;
                    text-transform: capitalize;
                    color: $whiteColor;
                }

            }

            .card-pokemon-image-container{
                width: 50%;

                .card-pokemon-image{
                    width: 100%;
                }
            }



        }

    }

}