@import '/src/assets/styles/global';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/typography';

.card{

    margin-top:3rem;

    .card-pokemon{

        @include flex-justify(center);
        flex-wrap: wrap;

        .card-pokemon-container{
            margin: 2rem 0;
            width: 70%;
            border-radius: 10px;
            text-align: center;
            padding: 2rem;
            @include flex-wrap( wrap );
            box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.1);
            background-color: $greyCardColor;
            

            .card-pokemon-text{

                text-align: left;
                width: 50%;

                & h2{
                    margin: 1rem;
                    text-transform: capitalize;
                    &:first-child{
                        color: $greyColor;
                        opacity: 50%;
                    }
                    &:nth-child(2){
                        color: $greyColor;
                    }
                    
                }

                & p{
                    margin: 1rem;
                    padding: .5rem;
                    background-color: $greyColor;
                    width: 50%;
                    border-radius: 10px;
                    text-align: center;
                    text-transform: capitalize;
                    color: $whiteColor;
                }

            }

            .card-pokemon-image-container{
                width: 50%;

                .card-pokemon-image{
                    width: 100%;
                }
            }



        }

    }

}