@import '/src/assets/styles/global';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/variables';
@import '/src/assets/styles/animation';
@import '/src/assets/styles/typography';

.stats{

    padding: 3rem;
    // .stats-base-title{

    // }

    .stats-container{
        display: flex;

        .stats-title-container{
            width: 30%;
            display: flex;
            align-items: center;
            .stats-title{
                font-size: .8em;
                text-transform: capitalize;
            }
        }
        .stats-text-container{
            width: 10%;
            display: flex;
            align-items: center;
            .stats-text{
                display: inline-block;
                font-weight: normal;
                font-size: .8em;
                margin: 16px 0;
            }
        }

        .stats-div-container{
            width: 60%;
            display: flex;
            align-items: center;
            padding: 0 1em;
            .stats-div-one{
                height: .3em;
                width: 100%;
                background-color: rgb(214, 214, 214);
            }
            .stats-div-two{
                height: .3em;
            }
            .normal{
                background: #AAB09F;
            }
            
            .fighting{
                background: #CB5F48;
            }
            
            .flying{
                background: #7DA6DE;
            }
            
            .poison{
                background: #B468B7;
            }
            
            .ground{
                background: #CC9F4F;
            }
            
            .rock{
                background: #B2A061;
            }
            
            .bug{
                background: #94BC4A;
            }
            
            .ghost{
                background: #846AB6;
            }
            
            .steel{
                background: #89A1B0;
            }
            
            .fire{
                background: #EA7A3C;
            }
            
            .water{
                background: #539AE2;
            }
            
            .grass{
                background: #71C558;
            }
            
            .electric{
                background: #E5C531;
            }
            
            .psychic{
                background: #E5709B;
            }
            
            .ice{
                background: #70CBD4;
            }
            
            .dragon{
                background: #6A7BAF;
            }
            
            .dark{
                background: #736C75;
            }
            
            .fairy{
                background: #E397D1;
            }
            
            .unknown{
                background: black;
            }
            
            .shadow{
                background: grey;
            }
        }
    }
}