@import './mixins';

.main-title{

    font-size: 30px;
    font-weight: bold;

    @include lgMinBreakPoint{
        font-size: 50px;
    }

}

a{
    text-decoration: none;
}

// .title{

// }

// .subtitle{

// }

// .text{

// }

// .link{

// }

