//This partial contains repeatable property values, such as brand colors and sizes$

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #444a59;
$textLight1Color: #808080;

$primaryColor: #358ed7;
$secondaryColor: #f2f8fd;

$greyLight1Color: #f8f8f8;
$lightGreyColor: #d9d9d9;
$greyCardColor: rgba(196, 196, 196, 0.521);
$greyColor : rgb(104, 104, 104) ;

$whiteColor: #ffffff;
$blackColor: #000000;

$warningColor: #f54b5e;

$redPokedexColor: #B22B27;
$bluePokedexColor: #3B4CCA;

$normal: rgb(218, 218, 218);

$fighting: rgb(255, 177, 74);

$flying: rgb(161, 255, 255);

$poison: rgb(118, 0, 148);

$ground: rgb(85, 52, 10);

$rock: rgb(107, 107, 107);

$bug: rgb(13, 77, 16);

$ghost: rgb(112, 65, 150);

$steel: rgb(153, 153, 153);

$fire: rgb(212, 45, 45);

$water: rgb(108, 189, 255);

$grass: rgb(107, 221, 92);

$electric: rgb(231, 204, 46);

$psychic: rgb(160, 60, 121);

$ice: rgb(113, 231, 240);

$dragon: rgb(201, 140, 49);

$dark: rgb(24, 24, 24);

$fairy: rgb(228, 142, 142);

$unknown: rgb(78, 71, 71);

$shadow: rgb(14, 24, 80);